.slider-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    max-height: 500px;
    overflow: hidden;
  }
  
  .slider-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  
  .slider-image {
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }